
/* - - - - - - - - - - - - - - - - - - - - -

 Title : 
 Author : 
 URL : http://

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */

html.embed {
    background-color: transparent !important;
}

.redesigned-theme-2018 .wufoo {
    padding: 0px 0px 0px 0px !important;
}

form.wufoo {
    padding: 0px 0px 0px 0px !important;
}

form li {
    clear: none !important;
}
form li.buttons {
    clear: none !important;
    float: left;
}
.info {
    display: none !important;
}

.wufoo li {
    float: left !important;
}

.redesigned-theme-2018 .wufoo label.desc {
    padding-bottom: 0px !important;
}

input.medium,
select.medium {
    width: 100% !important;
}

.req {
    display: none !important;
}

.wufoo li.focused {
    background-color: transparent !important;
}

.redesigned-theme-2018 .buttons {
    padding: 0px !important;
}

.redesigned-theme-2018 ul{
    display: flex !important;
    justify-content: center !important;
    /* align-items: center !important; */
    margin: 32px 0px !important;
    width: 100% !important;
    padding-top: 20px!important;
}
.redesigned-theme-2018 ul li{
    padding: 0px!important;
}

.redesigned-theme-2018 ul li.buttons{
    padding: 0px!important;
}



.redesigned-theme-2018 input.btTxt {
    border-radius: 0px!important;
    background: #ff3932 !important;
    color: #fff !important;
    padding: 13.6px 27px !important;
    font-size: 20px !important;
    border: none !important;
    border-radius: 0% !important;
}

.redesigned-theme-2018 input.text {
    border-radius: 0px!important;
    padding: 17px 27px !important;
    font-size: 14px !important;
    color: #686876 !important;
    border: none !important;
    outline: none !important;
}
.redesigned-theme-2018 .wufoo li {
    padding: 0px 0px 0px 0px !important;
}
/*that doesn't work, so we try the next 2 to override an impt*/
#fo1li1 {
    padding: 0px 0px 0px 0px !important;
}
li[fo1li1] {
    padding: 0px 0px 0px 0px !important;
}

input.medium,
select.medium {
    width: 100% !important;
}


.redesigned-theme-2018 form #errorLi {
    display: none!important;
}